@model Copa.Models.noticia

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>noticia</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.data)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.data)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.conteudo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.conteudo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.usuario.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.usuario.nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.comentario.conteudo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.comentario.conteudo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
