@model IEnumerable<Copa.Models.noticia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.conteudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario.conteudo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.conteudo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentario.conteudo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idnoticia }) |
            @Html.ActionLink("Details", "Details", new { id=item.idnoticia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idnoticia })
        </td>
    </tr>
}

</table>
