@model Copa.Models.comentario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>comentario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.conteudo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.conteudo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.data)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.data)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.idcomentario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
