<!DOCTYPE html>
<!--[if IE]><html class="ie" lang="pt-br"><![endif]-->
<!--[if gt IE 9]><!--> 
<html lang="pt-br">
<!--<![endif]-->
  <head>
    <base href="http://brasilmostrasuacara5.webnode.com/">
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="generator" content="Webnode, see http://www.webnode.com.br/">
  <link rel="canonical" href="http://brasilmostrasuacara5.webnode.com/">
<script type="text/javascript">    var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-797705-6'], ['_trackPageview']); (function () { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); var pageTrackerAllTrackEvent = function (category, action, opt_label, opt_value) { _gaq.push(['_trackEvent', category, action, opt_label, opt_value]); };</script>
  <link rel="alternate" type="application/rss+xml" href="http://brasilmostrasuacara5.webnode.com/rss/all.xml" title="">
  <link rel="alternate" type="application/rss+xml" href="http://brasilmostrasuacara5.webnode.com/rss/noticias.xml" title="Notícias">
  <link rel="alternate" type="application/rss+xml" href="http://brasilmostrasuacara5.webnode.com/rss/blog.xml" title="Blog">
  <link rel="alternate" type="application/rss+xml" href="http://brasilmostrasuacara5.webnode.com/rss/calendario-de-eventos.xml" title="Calendário de eventos">    <title>PORTAL DA COPA DO MUNDO - BRASIL 2014</title>
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">   
    <link href="http://static-cdn2.webnode.com/_system/skins/v7/50000937/css/style.css" rel="stylesheet" type="text/css" media="screen,projection,handheld,tv">
    <link href="http://static-cdn3.webnode.com/_system/skins/v7/50000937/css/print.css" rel="stylesheet" type="text/css" media="print">
    <script type="text/javascript" src="http://static-cdn4.webnode.com/_system/skins/v7/50000937/js/functions.js"></script>
  
					<script type="text/javascript">
					/* <![CDATA[ */
						
						if (typeof(RS_CFG) == 'undefined') RS_CFG = new Array();
						RS_CFG['staticServers'] = new Array('http://static-cdn1.webnode.com/', 'http://static-cdn2.webnode.com/', 'http://static-cdn3.webnode.com/', 'http://static-cdn4.webnode.com/');
						RS_CFG['filesPath'] = 'http://files.brasilmostrasuacara5.webnode.com/';
						RS_CFG['lbClose'] = 'Fechar';
						RS_CFG['skin'] = 'default';
						if (!RS_CFG['labels']) RS_CFG['labels'] = new Array();
						RS_CFG['systemName'] = 'Webnode';
						RS_CFG['labels']['copyPasteSource'] = 'Leia mais:'
					/* ]]> */
					</script><style type="text/css">/* <![CDATA[ */#cojh27a1th {position: absolute;font-size: 13px !important;font-family: "Arial", helvetica, sans-serif !important;white-space: nowrap;z-index: 2147483647;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;}#h069bda4b7kdmja {position: relative;top: -14px;}* html #h069bda4b7kdmja { top: -11px; }#h069bda4b7kdmja a { text-decoration: none !important; }#h069bda4b7kdmja a:hover { text-decoration: underline !important; }#j348b5136t {z-index: 2147483647;display: inline-block !important;font-size: 16px;padding: 7px 59px 9px 59px;background: transparent url(http://static-cdn1.webnode.com/img/footer/footerButtonWebnodeHover.png) top left no-repeat;height: 18px;cursor: pointer;}* html #j348b5136t { height: 36px; }#j348b5136t:hover { background: url(http://static-cdn1.webnode.com/img/footer/footerButtonWebnode.png) top left no-repeat; }#hbk8chd2jko6 { display: none; }#j1r3mp1g {z-index: 3000;text-align: left !important;position: absolute;height: 88px;font-size: 13px !important;color: #ffffff !important;font-family: "Arial", helvetica, sans-serif !important;overflow: hidden;cursor: pointer;}#h1n47ce2i8 {padding-right: 11px;padding-right: 11px;float: right;height: 60px;padding-top: 18px;background: url(http://static-cdn1.webnode.com/img/footer/footerBubble.png) top right no-repeat;}#i0i8kqd4 {float: left;width: 18px;height: 78px;background: url(http://static-cdn1.webnode.com/img/footer/footerBubble.png) top left no-repeat;}#d023ej649m6f {color: #36322D !important;text-decoration: none !important;font-weight: bold !important;float: right;height: 31px;position: absolute;top: 19px;right: 15px;cursor: pointer;}#dno1m6f18dbd07 { float: right; padding-right: 27px; display: block; line-height: 31px; height: 31px; background: url(http://static-cdn1.webnode.com/img/footer/footerButton.png) top right no-repeat; white-space: nowrap; }#a4476m71op8 { position: relative; left: 1px; float: left; display: block; width: 15px; height: 31px; background: url(http://static-cdn1.webnode.com/img/footer/footerButton.png) top left no-repeat; }#d023ej649m6f:hover { color: #36322D !important; text-decoration: none !important; }#d023ej649m6f:hover #dno1m6f18dbd07 { background: url(http://static-cdn1.webnode.com/img/footer/footerButtonHover.png) top right no-repeat; }#d023ej649m6f:hover #a4476m71op8 { background: url(http://static-cdn1.webnode.com/img/footer/footerButtonHover.png) top left no-repeat; }* html #j348b5136t { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static-cdn1.webnode.com/img/footer/footerButtonWebnode.png'); background: transparent; }* html #j348b5136t:hover { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static-cdn1.webnode.com/img/footer/footerButtonWebnodeHover.png'); background: transparent; }* html #h1n47ce2i8 { height: 78px; background-image: url(http://static-cdn1.webnode.com/img/footer/footerBubbleIE6.png);  }* html #i0i8kqd4 { background-image: url(http://static-cdn1.webnode.com/img/footer/footerBubbleIE6.png);  }* html #dno1m6f18dbd07 { background-image: url(http://static-cdn1.webnode.com/img/footer/footerButtonIE6.png); }* html #a4476m71op8 { background-image: url(http://static-cdn1.webnode.com/img/footer/footerButtonIE6.png); }* html #d023ej649m6f:hover #rbcGrSigTryButtonRight { background-image: url(http://static-cdn1.webnode.com/img/footer/footerButtonHoverIE6.png);  }* html #d023ej649m6f:hover #rbcGrSigTryButtonLeft { background-image: url(http://static-cdn1.webnode.com/img/footer/footerButtonHoverIE6.png);  }/* ]]> */</style><script type="text/javascript" src="http://static-cdn2.webnode.com/_system/client/js/compressed/frontend.package.1-2-117.js"></script><style type="text/css"></style></head>
   <body>     
  
    <div id="body_bg">      
      <div id="site">      
        <div id="site_top">
        
          <div id="nonFooter">
          
  <!-- HEADER_LINK -->             
  <div id="header_link">         
  
                   <div class="lang">               
                     <div id="languageSelect"></div>			            
                   </div> 
                     
      <!-- LINK -->
      <ul class="link">                             
      <li class="homepage">@Html.ActionLink("Ir para a página inicial", "home", "Ir para a página inicial")</li>            
      <li class="sitemap">@Html.ActionLink("Ir para o mapa do site", "sitemap", "Ir para o mapa do site")</li>
      <li class="rss">@Html.ActionLink("Feeds RSS", "rss", "Feeds RSS")</li>
      </ul>
      <!-- / LINK -->
  </div>
  <!-- / HEADER_LINK --> 
    
      <!-- LOGOZONE -->  
      <div id="logozone">               
        <div id="logo"><span><span id="rbcSystemIdentifierLogo">PORTAL DA COPA DO MUNDO - BRASIL 2014</span></span></div>     
      </div>   
      <!-- / LOGOZONE -->

          <!-- MENU --> 
      <div id="menuzone"> 
		  <div class="box">	
              <div class="box_content">
              		<ul class="menu">
                    	<li class="first activeSelected"><span><span>@Html.ActionLink("Página inicial", "Index", "Home")</span></span></li>
                        <li><span><span>@Html.ActionLink("Sobre nós", "sobre-nos", "Sobre nós")</span></span> </li>
                        <li><span><span>@Html.ActionLink("Notícias", "noticias", "Notícias")</span></span> </li>
                        <li><span><span>@Html.ActionLink("Fotos", "fotos", "Fotos")</span></span> </li>
                        <li><span><span>@Html.ActionLink("Blog", "blog", "Blog") </span></span></li>
                        <li><span><span>@Html.ActionLink("Ajuda", "ajuda", "Ajuda")</span></span> </li>
                        <li><span><span>@Html.ActionLink("Calendário de eventos", "calendario", "Calendário de eventos")</span></span> </li>
                    </ul>


        </div>
			</div>

					    
      </div><!-- /menuzone --> 
      <!-- /MENU -->
            
          
      <!-- HEADER -->          
      <div id="header">  
        <div id="header_box">
          <div class="illustration">       
                  <p id="moto"><span id="rbcCompanySlogan" class="rbcNoStyleSpan">BRASIL - COPA DO MUNDO 2014</span></p>
                <img src="http://static-cdn3.webnode.com/_system/skins/v7/50000937/img/illustration.jpg" width="960" height="184" alt="">                <span class="masque"><!-- masque --></span>
          </div><!-- /illustration -->
        </div><!-- /header_box -->  
      </div><!-- /header -->            
      <!-- /HEADER -->

<!-- MAIN -->
<div id="main"> 

      <!-- SIDEBAR -->
      <div id="sidebar">              
        <div id="sidebar_content">
                
          			
                  
          

		  <div class="box">            
        <div class="box_title"><h2>Pesquisar no site</h2></div>            
        <div class="box_content">

		<form action="/search/" method="get" id="fulltextSearch">
		
		    <label for="fulltextSearchText" class="hidden">Pesquisar no site</label>
      	<input type="text" id="fulltextSearchText" name="text"><br />
      	<span><input class="submit" type="submit" value="Pesquisar"></span>
				<div class="cleaner"><!-- / --></div>

		</form>

		    </div>
      </div>

		 
                  
          

      <div class="box">
        <div class="box_title"><h2>Contato</h2></div>
        <div class="box_content">
          
		

      <p><strong>brasilmostrasuacaracopa2014</strong></p>
                  
      
      
	
	    <p class="email"><a href="&#109;&#97;&#105;&#108;&#116;&#111;:&#101;&#108;&#105;&#97;&#110;&#101;&#46;&#109;&#97;&#114;&#103;&#97;&#114;&#105;&#100;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;"><span id="rbcContactEmail">&#101;&#108;&#105;&#97;&#110;&#101;&#46;&#109;&#97;&#114;&#103;&#97;&#114;&#105;&#100;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</span></a></p>

	           

		
                      
        </div>
      </div> 

		  <div class="box">
        <div class="box_title"><h2>Etiquetas</h2></div>
        <div class="box_content">

          <p>A lista de etiquetas está vazia.</p>
           
        </div>
      </div>  
      
      <div class="cleaner"><!-- / --></div>

		  
    
        </div>            
      </div>
      <!-- /SIDEBAR -->

         <div id="mainContent_top">
      <div id="mainContent_bottom">                    
       <div id="mainContent">
       
                <!-- NAVIGATOR -->
                <div id="pageNavigator" class="rbcContentBlock" style="display: none;"></div>                <!-- /NAVIGATOR -->

                <!-- CONTENT -->
                <div id="contentNarrow">
                  
                  
								
			<div class="box">
        <div class="box_content">


        @RenderBody()

        </div>
      </div>
      
      <div class="cleaner"><!-- / --></div>

		  
                
                </div>
                <!-- /CONTENT -->
                
                <!-- RIGHT CONTENT -->
                <div id="rightContent">              
                  <div id="rcontent">
                  
                              
                    
        
      <div class="box">
        <div class="box_title"><h2>Notícias</h2></div>
        <div class="box_content">
  

  <div class="article"> </div>
      
      <div class="cleaner"><!-- / --></div>
                    
		

			<div class="cleaner"><!-- / --></div>

		
       
      <div class="article">
      </div>
      
      <div class="cleaner"><!-- / --></div>
                    
		

			<div class="cleaner"><!-- / --></div>

		
				
      		   
      		   
      		  
      		   
      	    
		                           
        </div>
      </div> 
      
      <div class="cleaner"><!-- / --></div>

		 
                  
                  </div>              
                </div>
                <!-- /RIGHT CONTENT -->              
                
       </div><!-- /mainContent -->
      </div><!-- /mainContent_bottom -->
     </div><!-- /mainContent_top -->
              
                       
              <hr class="cleaner">
            
            </div>
            <!-- /MAIN -->
  

</div><!-- /nonFooter -->  
  

          
        <!-- FOOTER -->
        <div id="footer">
           <div id="footerRight">
                <p>
                  <span class="sitemap">@Html.ActionLink("Ir para o mapa do site", "sitemap", "Ir para o mapa do site")</span>
                  <span class="rss">@Html.ActionLink("Feeds RSS", "rss", "Feeds RSS")</span>
                </p>
          </div>  
          <div id="footerLeft">
                  <p class="footerText"><span id="rbcFooterText" class="rbcNoStyleSpan">© 2013 Todos os direitos reservados.</span></p>
                  
          </div>                
      </div>
      <!-- FOOTER --> 
          
   </div><!-- /site_top -->
 </div><!-- /site -->    
</div><!-- /body_bg -->
  
  
    <script type="text/javascript">
		/* <![CDATA[ */

			RubicusFrontendIns.addObserver
			({

				onContentChange: function ()
        {
          RubicusFrontendIns.faqInit('faq', 'answerBlock');
        },

				onStartSlideshow: function()
				{
					$('slideshowControl').innerHTML	= '<span>Pausar<'+'/span>';
					$('slideshowControl').title			= 'Pausar apresentação de slides';
					$('slideshowControl').onclick		= RubicusFrontendIns.stopSlideshow.bind(RubicusFrontendIns);
				},

				onStopSlideshow: function()
				{
					$('slideshowControl').innerHTML	= '<span>Apresentação de slides<'+'/span>';
					$('slideshowControl').title			= 'Iniciar apresentação de slides';
					$('slideshowControl').onclick		= RubicusFrontendIns.startSlideshow.bind(RubicusFrontendIns);
				},

				onShowImage: function()
				{
					if (RubicusFrontendIns.isSlideshowMode())
					{
						$('slideshowControl').innerHTML	= '<span>Pausar<'+'/span>';
						$('slideshowControl').title			= 'Pausar apresentação de slides';
						$('slideshowControl').onclick		= RubicusFrontendIns.stopSlideshow.bind(RubicusFrontendIns);
					}
				}

			 });

			  RubicusFrontendIns.faqInit('faq', 'answerBlock');

			  RubicusFrontendIns.addFileToPreload('http://static-cdn1.webnode.com/_system/skins/v7/50000937/img/loading.gif');
        RubicusFrontendIns.addFileToPreload('http://static-cdn2.webnode.com/_system/skins/v7/50000937/img/faq_hover.gif');

  		/* ]]> */
  	 </script>
  
  <div id="rbcFooterHtml"></div><div style="display: none;" id="cojh27a1th"><span id="h069bda4b7kdmja">&nbsp;</span></div><div id="j1r3mp1g" style="display: none;"><div id="i0i8kqd4"><!-- / --></div><div id="h1n47ce2i8"><strong id="brltyz72">Voce gostou deste site?</strong><br /><span id="ifeg8334fq049">Crie o seu próprio site gratuito em 5 minutos!</span><span id="d023ej649m6f"  onclick="RubicusFrontendIns.location.href='http://www.webnode.com.br?utm_source=try-button&amp;utm_medium=footer&amp;utm_content=pt-br-web-0&amp;utm_campaign=signature';"><span id="a4476m71op8"><!-- / --></span><span id="dno1m6f18dbd07">Experimente!</span></span></div></div><script type="text/javascript">/* <![CDATA[ */var c70353716qj = {sig: $('cojh27a1th'),prefix: $('h069bda4b7kdmja'),btn : $('j348b5136t'),win : $('j1r3mp1g'),winLeft : $('i0i8kqd4'),winRght : $('h1n47ce2i8'),tryBtn : $('d023ej649m6f'),tryLeft : $('a4476m71op8'),tryRght : $('dno1m6f18dbd07'),text : $('ifeg8334fq049'),title : $('brltyz72')};c70353716qj.sig.appendChild(c70353716qj.btn);var jeh3hge0f63bifh=0,j4644ad4pavh=0,e9hper5k8iibca=0,c1a3981c,ff37f11dq0i=$$('.rbcSignatureText')[0],f532oe81a5vq=false,dplss321b9a94;function b2lb1g097(){if (!f532oe81a5vq && pageTrackerAllTrackEvent){pageTrackerAllTrackEvent('Signature','Window show - web',c70353716qj.sig.getElementsByTagName('a')[0].innerHTML);f532oe81a5vq=true;}c70353716qj.win.show();e9hper5k8iibca=c70353716qj.tryLeft.offsetWidth+c70353716qj.tryRght.offsetWidth+1;c70353716qj.tryBtn.style.width=parseInt(e9hper5k8iibca)+'px';c70353716qj.winRght.style.width=parseInt(20+e9hper5k8iibca+Math.max(c70353716qj.text.offsetWidth,c70353716qj.title.offsetWidth))+'px';c70353716qj.win.style.width=parseInt(c70353716qj.winLeft.offsetWidth+c70353716qj.winRght.offsetWidth)+'px';var wl=c70353716qj.sig.offsetLeft+c70353716qj.btn.offsetLeft+c70353716qj.btn.offsetWidth-c70353716qj.win.offsetWidth+12;if (wl<10){wl=10;}c70353716qj.win.style.left=parseInt(wl)+'px';c70353716qj.win.style.top=parseInt(j4644ad4pavh-c70353716qj.win.offsetHeight)+'px';clearTimeout(c1a3981c);}function g1ibj3ja9d3bk(){c1a3981c=setTimeout('c70353716qj.win.hide()',1000);}function bvegohhi40w7(){var ph = RubicusFrontendIns.getPageSize().pageHeight;c70353716qj.sig.show();jeh3hge0f63bifh=0;j4644ad4pavh=0;if (ff37f11dq0i&&ff37f11dq0i.offsetParent){var obj=ff37f11dq0i;do{jeh3hge0f63bifh+=obj.offsetLeft;j4644ad4pavh+=obj.offsetTop;} while (obj = obj.offsetParent);}if ($('rbcFooterText')){c70353716qj.sig.style.color = $('rbcFooterText').getStyle('color');c70353716qj.sig.getElementsByTagName('a')[0].style.color = $('rbcFooterText').getStyle('color');}c70353716qj.sig.style.width=parseInt(c70353716qj.prefix.offsetWidth+c70353716qj.btn.offsetWidth)+'px';if (jeh3hge0f63bifh<0||jeh3hge0f63bifh>document.body.offsetWidth){jeh3hge0f63bifh=(document.body.offsetWidth-c70353716qj.sig.offsetWidth)/2;}if (jeh3hge0f63bifh>(document.body.offsetWidth*0.55)){c70353716qj.sig.style.left=parseInt(jeh3hge0f63bifh+(ff37f11dq0i?ff37f11dq0i.offsetWidth:0)-c70353716qj.sig.offsetWidth)+'px';}else{c70353716qj.sig.style.left=parseInt(jeh3hge0f63bifh)+'px';}if (j4644ad4pavh<=0){j4644ad4pavh=ph-5-c70353716qj.sig.offsetHeight;}c70353716qj.sig.style.top=parseInt(j4644ad4pavh-5)+'px';}function f74dfv245c3(){if (dplss321b9a94){clearTimeout(dplss321b9a94);}dplss321b9a94 = setTimeout('bvegohhi40w7()', 10);}Event.observe(window,'load',function(){if (c70353716qj.win&&c70353716qj.btn){if (ff37f11dq0i){c70353716qj.prefix.innerHTML = '<a href="http://www.webnode.com.br?utm_source=text&amp;utm_medium=footer&amp;utm_content=pt-br-web-0&amp;utm_campaign=signature">'+ff37f11dq0i.innerHTML + '</a>&nbsp;';ff37f11dq0i.style.visibility='hidden';}else{if (pageTrackerAllTrackEvent){pageTrackerAllTrackEvent('Signature','Missing rbcSignatureText','brasilmostrasuacara5.webnode.com');}}bvegohhi40w7();setTimeout(bvegohhi40w7, 500);setTimeout(bvegohhi40w7, 1000);setTimeout(bvegohhi40w7, 5000);Event.observe(c70353716qj.btn,'mouseover',b2lb1g097);Event.observe(c70353716qj.win,'mouseover',b2lb1g097);Event.observe(c70353716qj.btn,'mouseout',g1ibj3ja9d3bk);Event.observe(c70353716qj.win,'mouseout',g1ibj3ja9d3bk);Event.observe(c70353716qj.win,'click',function(){if (pageTrackerAllTrackEvent){pageTrackerAllTrackEvent('Signature','Window click - web','Voce gostou deste site?',0);}document/*ch1d23e6b68*/.location.href='http://www.webnode.com.br?utm_source=window&utm_medium=footer&utm_content=pt-br-web-0&utm_campaign=signature';});Event.observe(window, 'resize', f74dfv245c3);Event.observe(document.body, 'resize', f74dfv245c3);RubicusFrontendIns.addObserver({onResize: f74dfv245c3});RubicusFrontendIns.addObserver({onContentChange: f74dfv245c3});Event.observe(c70353716qj.btn, 'click', function(){if (pageTrackerAllTrackEvent){pageTrackerAllTrackEvent('Signature','Button click - web',c70353716qj.sig.getElementsByTagName('a')[0].innerHTML);}});Event.observe(c70353716qj.tryBtn, 'click', function(){if (pageTrackerAllTrackEvent){pageTrackerAllTrackEvent('Signature','Try Button click - web','Voce gostou deste site?',0);}});}});RubicusFrontendIns.addFileToPreload('http://static-cdn1.webnode.com/img/footer/footerButtonWebnode.png');RubicusFrontendIns.addFileToPreload('http://static-cdn1.webnode.com/img/footer/footerButton.png');RubicusFrontendIns.addFileToPreload('http://static-cdn1.webnode.com/img/footer/footerButtonHover.png');RubicusFrontendIns.addFileToPreload('http://static-cdn1.webnode.com/img/footer/footerBubble.png');if (Prototype.Browser.IE){RubicusFrontendIns.addFileToPreload('http://static-cdn1.webnode.com/img/footer/footerBubbleIE6.png');RubicusFrontendIns.addFileToPreload('http://static-cdn1.webnode.com/img/footer/footerButtonHoverIE6.png');}RubicusFrontendIns.copyLink = 'http://www.webnode.com.br';RS_CFG['labels']['copyPasteBackLink'] = 'Crie seu site grátis:';/* ]]> */</script><div style="display: none;"><script type="text/javascript">
						//<![CDATA[
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 document.write('<img src="http://toplist.cz/dot.asp?id=745118&amp;http=' + escape(document.referrer) + '&amp;t=' + escape(document.title) + '" width="1" height="1" alt="TOPlist" />');
						//]]>
						</script><noscript><img src="http://toplist.cz/dot.asp?id=745118" alt="TOPlist" width="1" height="1" /></noscript></div></body>
</html>
    
  